.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --button-width: 52px;

    width: 100%;
    height: var(--default-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    padding: 0 var(--default-horizontal-spacer);
    width: var(--default-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 24, 35);
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.2rem;
    background-color: transparent;
    margin-left: 16px;
    cursor: pointer;
    position: relative;
}

.upload-btn {
    color: var(--primary);
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}
